venv/
.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.pyd*
.pyc
.DS_Store
*.egg-info/
.coverage
htmlcov/
.pytest_cache/
build/
dist/
.eggs/
.vscode/
*.log
docker-compose.override.yml
Thumbs.db

akash-local

celerybeat-schedule